alembic
asyncpg
black
email-validator
fastapi
FastAPI-SQLAlchemy
mypy
passlib
psycopg2
psycopg2-binary
pydantic
pydantic-settings
pytest
python-dotenv
python-jose
python-multipart
SQLAlchemy
SQLAlchemy-Utils
sqlmodel
tenacity
uvicorn